<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Library Managment System</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.library.controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookController</display-name>
    <servlet-name>BookController</servlet-name>
    <servlet-class>com.library.controller.BookController</servlet-class>
    <init-param>
      <param-name>staffLimit</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>studentLimit</param-name>
      <param-value>2</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookController</servlet-name>
    <url-pattern>/BookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionController</display-name>
    <servlet-name>TransactionController</servlet-name>
    <servlet-class>com.library.controller.TransactionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionController</servlet-name>
    <url-pattern>/TransactionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberController</display-name>
    <servlet-name>MemberController</servlet-name>
    <servlet-class>com.library.controller.MemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberController</servlet-name>
    <url-pattern>/MemberController</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.library.listener.CtxListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.library.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
</web-app>